* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

.header {
  background: {
    size: cover;
    position: center center;
    repeat: no-repeat;
    image: url("images/background.svg");
  };

  .nav-item:nth-child(1) {
    margin-left: 63.69px;
  }

  .nav-item {
    .nav-link {
      color: white;
    }

    margin-left: 16.11px;

    button {
      background-color: #23A6F0 !important;
      padding: 11px 16px 11px 19px;
      margin-left: 34.53px;
    }
  }

  .navbar {
    padding: 15px 0;
  }

  .navbar-brand {
    color: white;
  }

  .header-cards-row {
    position: absolute;
    width: 100%;
  }

  .headerSection {
    margin-top: 132px;

    .buttons {
      width: 267.79px;
      height: 39.9px;
      margin: 30px auto 166px auto;
      display: flex;
      justify-content: space-between;

      button {
        padding: 11px 27px;
        font-style: normal;
        font-weight: bold;
        font-size: 10.7423px;
        line-height: 17px;
        border-radius: 28px;
      }

      button:nth-child(1) {
        background-color: #23A6F0 !important;
      }

      button:nth-child(1):hover {
        color: white;
      }

    }

    h1, h3 {
      font-family: Montserrat, serif;
      font-weight: 800;
      font-size: 44.5038px;
      line-height: 61px;
      letter-spacing: 2.153462px;
    }

    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 15.3462px;
      line-height: 23px;
    }
  }

  .headerCards {
    background-color: white;
    height: 154.64px;
    margin-top: -72.32px;
    padding: 27px 30px;
    box-shadow: 0 9.975px 14.5788px rgba(0, 0, 0, 0.07);

    h2, h5 {
      margin-top: 8px;
      font-style: normal;
      font-weight: bold;
      font-size: 18.4154px;
      line-height: 25px;
      letter-spacing: 0.0767308px;
      color: #252B42;
    }

    h5 {
      font-weight: 500;
      font-size: 10.7423px;
      line-height: 15px;
      letter-spacing: 0.153462px;
      color: #737373;
    }
  }
}

.section {
  .sectionBox {
    text-align: center;
    margin-top: 180px;

    img {
      width: 55px;
    }

    h2, h5 {
      padding: 0 100px;
      font-size: 12.2769px;
      line-height: 18px;
      letter-spacing: 0.0767308px;
      color: #252B42;
      margin-top: 23px;
    }

    h5 {
      margin-top: 8px;
      font-weight: 500;
      font-size: 10.7423px;
      line-height: 15px;
      letter-spacing: 0.153462px;
      color: #737373;
    }
  }

  .card {
    padding: 30px 26px;

    .card-header, .card-footer {
      border: 0;
      background-color: #fff;
    }
  }

  .text-card {
    margin-bottom: 0 !important;
  }

  .text-card, .scale-cards {
    margin-top: 85px;

    h1, h3 {
      font-weight: bold;
      font-size: 30.6923px;
      line-height: 44px;
      letter-spacing: 0.153462px;
      color: #252B42;
    }

    h3 {
      font-weight: 500;
      font-size: 10.7423px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 0.153462px;
      color: #737373;
    }
  }

  .sectionCards, .scale-cards {
    margin-bottom: 86px;
    margin-top: 61px;

    h2, h5 {
      font-weight: 500;
      font-size: 12.7423px;
      line-height: 15px;
      letter-spacing: 0.153462px;
      color: #737373;
    }
  }

  .brands {
    margin-top: 38px;
  }

  .text-input {
    color: white;
    margin-top: 103px !important;
    background: linear-gradient(270deg, #D71489 -1.04%, #004788 100%);
    border-radius: 1.53462px;
    height: 95px;
    padding: 23px 59px;

    .text {
      h3 {
        font-size: 25.4154px;
        line-height: 25px;
        letter-spacing: 0.0767308px;
      }
    }

    .input {
      width: 50%;
    }
  }
}

.scaleCards {
  margin-bottom: 86px;
}

.scaleCards .card:hover {
  background-color: #252B42;
  cursor: pointer;
  transform: scale(1.125);
  color: white;

  h1, h2 {
    color: white !important;
  }
}

.scaleCards {
  margin-top: 61px;

  .card {
    border: 0.767308px solid #23A6F0;
    transition: 0.5s;
    border-radius: 8px;
  }

  .card .card-header {
    background-color: transparent;

    h1, h2, h3, h4 {
      font-family: Montserrat, serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18.4154px;
      line-height: 25px;
      letter-spacing: 0.0767308px;
    }

    h2 {
      margin-top: 26px;
      font-size: 12.2769px;
      line-height: 18px;
      color: #737373;
    }

    h3 {

      margin-right: 8px;
    }

    h3, h4, h5 {
      margin-top: 30px;
      font-size: 30.6923px;
      line-height: 44px;
      letter-spacing: 0.153462px;
      color: #23A6F0;
    }

    h4 {
      font-size: 12.2769px;
      line-height: 18px;
      margin-bottom: 0;
    }

    h5 {
      margin-top: 0;
      font-size: 10.7423px;
      line-height: 18px;
    }
  }

  .card .card-body {
    ul li {
      margin-top: 12px;
    }

    img {
      margin-right: 8px;
    }

    h6 {
      text-align: start;
      margin-bottom: 0;
    }
  }

  .card .card-footer {
    background-color: transparent;

    button {
      width: 188px;
      height: 39px;
      background-color: #23A6F0;
      border: none;
      box-shadow: none;
      font-family: Montserrat, serif;
      font-style: normal;
      font-weight: bold;
      font-size: 10.7423px;
      line-height: 17px;
      letter-spacing: 0.153462px;
    }
  }
}

.main {
  color: white;
  height: 619px;
  background-color: #252B42;

  .main-content {
    padding-top: 77px;

    h3, p {
      font-style: normal;
      font-weight: bold;
      font-size: 34.6923px;
      line-height: 44px;
      letter-spacing: 0.153462px;
    }

    p {
      font-weight: 400;
      font-size: 15.7423px;
      line-height: 15px;
    }
  }

  .main-input {
    margin-top: 115px;
    position: absolute;
    padding-right: 38px;
    background-color: #fff;
    color: black;
    width: 805px;

    h3 {
      text-align: center;
      margin-top: 31px;
      margin-bottom: 16px;
    }

    .input-area {
      margin-left: 38px;
    }

    button {
      background-color: #23A6F0;
      height: 39px;
      margin-top: 22px;
      font-style: normal;
      font-weight: bold;
      font-size: 10.7423px;
      line-height: 17px;
      text-align: center;
      letter-spacing: 0.153462px;
    }

    form {
      label {
        margin-bottom: 8px;
      }

      input, select {
        margin-bottom: 8px;
      }
    }
  }
}

.after-input {
  .text-input {
    margin-top: 319px;

    .input {
      width: 122px;
      height: 40px;

      button {
        background-color: #23A6F0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.footer, .fastFooter {

  p {
    font-style: normal;
    font-weight: bold;
    font-size: 12.2769px;
    line-height: 18px;
    letter-spacing: 0.0767308px;
    color: #252B42;
  }

  ul {
    li {
      margin-bottom: 8px;

      img {
        margin-right: 8px;
      }

      a {
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 10.7423px;
        line-height: 18px;
        letter-spacing: 0.153462px;
        color: #737373;
        transition: 0.4s;

        &:hover {
          color: #252B42;
        }
      }
    }
  }
}

.fastFooter {
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  p {
    color: #737373;
    margin-bottom: 0;
  }

  img {
    margin-left: 16px;
  }
}

.lastFooterImgMobile {
  display: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }

}

.onlyDesktop {
  display: block;
}

.onlyMobile {
  display: none;
}


@media (max-width: 768px) {
  .lastFooterImgs {
    display: none;
  }
  .lastFooterImgMobile {
    display: inline;
  }
  .footer {
    text-align: center;
  }
  .fastFooter {
    padding: 20px 70px;

    .col-12 {
      text-align: center !important;

      img:nth-child(2) {
        margin-left: 0;
      }
    }

    .col-12:nth-child(2) {
      margin-top: 38px;
    }
  }
  .header-cards-row {
    margin: 0;
    padding: 0 15px 0 15px;
    position: relative !important;
    width: 100%;
    margin-bottom: 142px;
  }
  .header {
    .header-title-button {
      padding: 0 51px;

      h3 {
        margin-top: 30px;
      }

      .buttons {
        width: 141px;
        flex-direction: column;
        button:nth-child(2) {
          margin-top: 19px;
        }
      }
    }

    .navbar-brand {
      margin-right: 0;
    }

    .nav-tog {
      box-shadow: none !important;
      position: absolute;
      right: 0;
      top: 15px;

      span {
        background-image: url("images/burger.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .nav-brand {
      font-weight: bold;
      font-size: 18.4154px;
      line-height: 25px;
      letter-spacing: 0.0767308px;
      color: #252B42;
    }

    .nav-row {
      justify-content: space-between;
      background: #f7f7f7;
    }

    .nav-item {
      margin-left: 0 !important;
      text-align: center !important;
      margin-top: 15px;
      margin-bottom: 15px;

      .nav-link {
        color: #737373;
        font-weight: normal;
        font-size: 23.0192px;
        line-height: 35px;
        text-align: center;
        letter-spacing: 0.153462px;
      }
    }

    .headerCards {
      margin-top: 23px;
    }
  }

  .section {
    .sectionBox {
      text-align: center;
      margin-top: 61px;

      .col-md-4 {
        padding: 30px 34px;
        margin-top: 23px;
      }

      img {
        width: 55px;
      }

      h2, h5 {
        padding: 0 34px;
        margin-top: 23px;
      }

      h5 {
        margin-top: 8px;
      }
    }

    .card {
      padding: 30px 26px;

    }

    .text-card, .scale-cards {
      margin-top: 85px;
      padding: 0 44px;
      margin-bottom: 174px;

      h3 {
        margin-bottom: 46px;
      }
    }

    .scale-cards {
      padding: 0 15px;

      .scaleCards {
        margin-top: 23px;
        margin-bottom: 0;

        .card-header, .card-footer {
          background: transparent;
        }
      }

    }

    .text-card {
      .sectionCards {
        margin-bottom: 23px !important;
        margin-top: 23px !important;
      }
    }

    .brand {
      .col-12 {
        margin-top: 46px;
        text-align: center;

        img {
          width: 115px;
        }
      }
    }

    .input-mobile-col {
      padding: 0;
    }

    .text-input {
      margin-top: 53px;
      height: auto;
      padding: 23px 59px;
      flex-direction: column;

      .input {
        margin-top: 23px;
        width: 100%;
      }
    }
  }
  .main-content {
    padding: 50px 20px;

    h3 {
      margin-top: 50px;
    }

    .earth {
      margin-top: 61px;
    }
  }

  .main {
    height: auto;

    .main-content {
      padding-top: 0;
    }

    .main-input {
      display: block !important;
      margin-top: 0;
      position: absolute;
      padding-right: 0;
      width: 100%;

      h3 {
        font-family: Montserrat, serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30.6923px;
        line-height: 44px;
        letter-spacing: 0.153462px;
        color: #252B42;
        text-align: start;
        margin-top: 31px;
        margin-bottom: 16px;
      }

      .input-area {
        padding: 0 32px;
        margin-left: 0;
      }

    }
  }
  .onlyDesktop {
    display: none;
  }
  .onlyMobile {
    display: block;
  }
  .after-input {
    margin-top: 400px;
    padding-bottom: 31px;
    text-align: center;

    .text-input {
      justify-content: center !important;
      align-items: center !important;
      margin-top: 370px;
      flex-direction: column;

      button {
        margin-top: 38px;
        height: 39px;
        font-style: normal;
        font-weight: bold;
        font-size: 10.7423px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.153462px;
      }
    }
  }
}
